products/ai-ugc-resource-pack-v2/workflows/02_generate_script.json
{
  "name": "02_Generate_Script",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "generate-script",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [100, 300],
      "notes": "Receives Selected Hook + Product Info"
    },
    {
      "parameters": {
        "model": "gpt-4-turbo",
        "prompt": "Write a 45-second Direct Response video script. Structure: 0-3s Hook, 3-12s Agitation, 12-25s Mechanism, 25-35s Proof, 35-45s CTA. Use short, punchy sentences. Output JSON with timecodes.",
        "text": "Hook: {{$json.body.hook}}\nProduct: {{$json.body.product_info}}"
      },
      "name": "Script Writer",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [300, 300]
    },
    {
      "parameters": {
        "model": "gpt-4-turbo",
        "prompt": "Review the script for compliance. Remove any 'Guaranteed' claims or 'Before/After' promises that violate Meta policy. Output cleaned JSON.",
        "text": "={{$json.script}}"
      },
      "name": "Compliance Check",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [500, 300]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": "ENTER_YOUR_SHEET_ID",
        "sheetName": "Scripts",
        "columns": {
          "Script": "={{$json.cleaned_script}}",
          "Hook": "={{$json.hook}}",
          "Status": "Ready for Visuals"
        }
      },
      "name": "Save to Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 2,
      "position": [700, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Script Writer", "type": "main", "index": 0 }]]
    },
    "Script Writer": {
      "main": [[{ "node": "Compliance Check", "type": "main", "index": 0 }]]
    },
    "Compliance Check": {
      "main": [[{ "node": "Save to Sheets", "type": "main", "index": 0 }]]
    }
  }
}
